:root {
    --DarkPurple: #20003b;
    --DarkGreen: #002f00;
    --LightBluePurple: #cbd0f3;
    --LightRichPurple: #9580ff;
    --LightBlueGrey: #d3e7ff;
    --LightBlue: #cef5ff;
    --Bronze: #805d00;
    --ShadedPink: #c04f85;
}

/* Add a black background color to the top navigation */
.menu {
    background-color: var(--DarkPurple);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.menu a {
    float: left;
    color: var(--LightBlueGrey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:link, .menu a:visited{
    color: var(--LightBlueGrey);
}

/* Change the color of links on hover */
.menu a:hover {
    background-color: var(--LightRichPurple);
    color: black;
}

/* Add a color to the active/current link */
.menu a.active {
    background-color: var(--LightBluePurple);
    color: black;
    font-weight: bolder;
}

html, body {
    background-color: var(--LightBlueGrey);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: var(--DarkPurple);
    font-size: 38pt;
    font-weight: bold;
}

h2
{
    color: var(--DarkGreen);
    font-size: 22pt;
}

/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: var(--Bronze);
}

/* mouse over link */
a:hover {
    color: var(--ShadedPink);
}

/* selected link */
a:active {
    color: blue;
}

table {
    border-collapse: collapse
}

thead {
    font-size: 18pt;
    font-weight: bold;
    background-color: var(--LightRichPurple);
}
td a img {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
td {
    padding: 5px;
    border: 3px solid black;
}
tbody tr td{
    background-color: var(--LightBlue);
}
tbody tr td:first-child{
    font-size: 16pt;
    font-weight: bold;
    background-color: var(--LightBluePurple);
}
table ul {
    padding-left: 15px;
}